@charset "utf-8";

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

a,
.tagline {
  color: #22262b;
}

.container {
  padding-left: 3rem;
}

.logo h1 {
  height: 8rem;
  font-size: 8rem;
  margin: 1rem 0;
  font-weight: 100;
}

.subheader {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.subheader h4 {
  font-weight: 100;
}

.artist-list {
  padding: 0;
  list-style: none;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.links {
  margin: 0 0 0 -0.6rem;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    font-size: 2.2rem;
    padding: 0.6rem;
    margin-right: 1rem;
  }
}

.social {
  margin-bottom: 4rem;
}

footer {
  text-align: center;
}

@media only screen and (min-width : 768px) {
  body {
    font-size: 16px;
  }

  .container {
    padding-left: 15px;
  }

  .logo {
    text-align: center;
  }

  .logo h1 {
    height: 12rem;
    font-size: 10rem;
  }

  .subheader h4 {
    font-size: 2.5rem;
  }

  section {
    width: 42rem;
    margin: 0 auto;
  }

}

