@charset "utf-8";

$color1: #dcdcdd;
$color2: #c5c3c6;
$color3: #46494c;
$color4: #4c5c68;
$color5: #1985a1;

$yellow: #f0c808;
$red: #dd1c1a;

html, body {
  height: 100%;
}

body {
  font-family: 'Yantramanav', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #000;
  color: $color2;
}

a {
  color: $color2;
}

a:hover, a:active, a:focus {
  color: $yellow;
  text-decoration: none;
}

.container {
  width: 100% !important;
}

header {
  // background: $color2;
}

.logo {
  padding: 3rem 0 0rem;
  h1 {
    margin: 0;
    font-size: 6.5rem;
    font-weight: 100;
    letter-spacing: 0.5rem;
    color: $yellow;
  }
}

.subheader {
  font-size: 2.5rem;
  padding: 3.7rem 0 2.8rem;
  h4 {
    font-weight: 300;
    word-spacing: 1rem;
    text-transform: uppercase;
  }
}

.artists {
  margin-bottom: 3.3rem;
  .artist-list {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 2rem;
    text-transform: uppercase;
    li {
      margin-bottom: 0.5rem;
    }
  }
}

.links {
  margin: 0 0 0 -0.6rem;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    font-size: 2.2rem;
    padding: 0.6rem;
    margin-right: 1rem;
  }
}

.social {
  margin-bottom: 3.7rem;
}

footer {
  text-align: center;
}

@media only screen and (min-width : 768px) {
  body {
    font-size: 16px;
  }

  section {
    width: 43.7rem;
    margin: 0 auto;
  }

  .container {
    padding-left: 15px;
  }

  .logo {
    padding: 1.5rem 0 0.5rem;
    text-align: center;
    h1 {
      font-size: 10rem;
    }
  }

  .subheader h4 {
    font-size: 2.5rem;
    word-spacing: 1.5rem;
  }
}

