%section.social
  %ul.links
    %li
      %a{ href: 'https://www.facebook.com/epikagency', target: :blank, title: 'Facebook' }
        %i.fa.fa-facebook
    %li
      %a{ href: 'https://soundcloud.com/epiksoundintl', target: :blank, title: 'Soundcloud' }
        %i.fa.fa-soundcloud
    %li
      %a{ href: 'https://www.instagram.com/epik_agency/', target: :blank, title: 'Instagram' }
        %i.fa.fa-instagram
    %li
      %a{ href: 'mailto:felix@epiksound.com', target: :blank, title: 'Email' }
        %i.fa.fa-envelope

