%section.social
  %ul.links
    %li
      %a{ href: 'https://www.facebook.com/epikagency', target: :blank, title: 'Facebook' }
        %i.fa.fa-facebook
    %li
      %a{ href: 'https://soundcloud.com/epikagency', target: :blank, title: 'Soundcloud' }
        %i.fa.fa-soundcloud
    %li
      %a{ href: 'https://www.instagram.com/epik_agency/', target: :blank, title: 'Instagram' }
        %i.fa.fa-instagram
    %li
      %a{ href: 'mailto:felix@epiksound.com', target: :blank, title: 'Email' }
        %i.fa.fa-envelope
<!-- Place this tag where you want the booking button and form to render. -->
<div id="gigwell-container"></div>

<!-- Place this code somewhere in your HTML document, or Site Configuration. -->
<script type="text/javascript">
var script = document.createElement('script');var f = document.getElementsByTagName('script')[0];script.async = 1;script.defer = 1;script.src = location.protocol + '//connect.gigwell.com/booknow/widget.js?1521309885537?' + new Date().valueOf();script.id = 'booking-script';script.setAttribute('crossorigin', '*');f.parentNode.insertBefore(script, f);window.gigwell = {};gigwell.apiUrl = "https://api.gigwell.com";gigwell.formDisplayMode = "inline";gigwell.agencyId = "157364";gigwell.artistId = "";gigwell.buttonName = "Book Now";gigwell.submitName = "Request Booking";gigwell.headline = "Booking Request";gigwell.hideHeadline = "false";
gigwell.onInit = function () {
  gigwell.open();
  
};
</script>

<!-- You can customize the booking button through css here -->
<style type="text/css">
#gigwell-container .booking {
    color: white;
    background-color: rgb(0, 0, 0);
    outline: none;
    border: 0;
    padding: 0 6px;
    line-height: 36px;
    min-height: 36px;
    text-transform: uppercase;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 0.01em;
    border-radius: 3px;
}
</style>

