!!!
%html{:lang => "en"}
  %head
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", :name => "viewport"}

    %title Epik Sound | Vancouver, BC

    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==", :rel => "stylesheet"}
    %link{:href=>'https://fonts.googleapis.com/css?family=Roboto:100,400,700', :rel => 'stylesheet', :type => 'text/css'}
    = stylesheet_link_tag :site

  %body{:class => page_classes}
    .container
      .row
        .col-sm-12
          %header.logo
            %h1 epiksound

      .row
        .col-sm-12
          %section.subheader
            %h4 Artists Events Management

        .col-sm-12
          %section.artists
            %ul.artist-list
              %li
                %a{ href: 'https://soundcloud.com/koosh-koosh', target: :blank }
                  Koosh
              %li
                %a{ href: 'https://soundcloud.com/therealdjspun', target: :blank }
                  DJ Spun
              %li
                %a{ href: 'Magic Fly: https://soundcloud.com/james-flavour/magicfly-supersuprizedjmix', target: :blank }
                  Magic Fly
              %li
                %a{ href: 'https://soundcloud.com/derekdee', target: :blank }
                  DJ D.DEE
              %li
                %a{ href: 'https://soundcloud.com/james-flavour', target: :blank }
                  James Flavour
              %li
                %a{ href: 'https://soundcloud.com/pacificrhythm', target: :blank }
                  Pacific Rhythm Label
              %li
                %a{ href: 'https://soundcloud.com/dave-dk', target: :blank }
                  Dave DK (on request)

        .col-sm-12
          %section.social
            %ul.links
              %li
                %a{ href: 'https://www.facebook.com/epiksoundagency', target: :blank, title: 'Facebook' }
                  %i.fa.fa-facebook
              %li
                %a{ href: 'https://www.instagram.com/epiksound/', target: :blank, title: 'Instagram' }
                  %i.fa.fa-instagram
              %li
                %a{ href: 'mailto:felix@epiksound.com', target: :blank, title: 'Email' }
                  %i.fa.fa-envelope

      .row
        .col.sm-12
          %footer
            = image_tag 'logo-bottom.jpg'

