!!!
%html{:lang => "en"}
  %head
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", :name => "viewport"}

    %meta{:property =>"og:url", :content => "http://epiksound.com"}
    %meta{:property =>"og:title", :content => "epik agency"}
    %meta{:property =>"og:description", :content => "Booking Events Management"}
    %meta{:property =>"og:image", :content => "http://epiksound.com/images/epik-logo.png"}

    %title epik agency

    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==", :rel => "stylesheet"}
    %link{:href=>'https://fonts.googleapis.com/css?family=Yantramanav:100,300,400', :rel => 'stylesheet', :type => 'text/css'}
    %script{ :type => "text/javascript", :src => "//connect.gigwell.com/roster/loader.js", :async => 'async', :crossorigin => "*"}

    = stylesheet_link_tag :site

  %body{:class => page_classes}
    .container
      %header.row
        .col-sm-12
          = partial 'layouts/header'

    %main
      %gigwell-embedded-roster{:agency => "157364", "highlight-color" => "#00b0ff", :labels => "{'backToRoster':'Back to Roster','bioHideReadMore':'Hide Full Bio','bioReadMore':'Read Full Bio','bookNow':'Book Now','downloads':'Downloads','genres':'Genres','labels':'Labels','loading':'Loading...','loadingEvents':'Loading Events...','location':'Location','noPastEvents':'No past gigs.','noUpcomingEvents':'No upcoming gigs.','pastEvents':'Past gigs','pressKit':'Press Kit','rsvp':'RSVP','techRider':'Tech Rider','tickets':'Tickets','upcomingEvents':'Upcoming gigs'}", "profile-box-shadow-color" => "#ccc", "profile-text-color" => "#333", "roster-text-color" => "#333", "roster-views" => "[{'borderRadius':3,'enabled':true,'size':200,'style':'circles','type':'grid'},{'borderRadius':3,'enabled':true,'imageHeight':40,'size':300,'style':'circles','type':'list'}]"}

    .container
      %footer.row
        .col-sm-12
          = partial 'layouts/footer'

    :javascript
      var script = document.createElement('script');var f = document.getElementsByTagName('script')[0];script.async = 1;script.defer = 1;script.src = location.protocol + '//connect.gigwell.com/booknow/widget.js?1521649241441?' + new Date().valueOf();script.id = 'booking-script';script.setAttribute('crossorigin', '*');f.parentNode.insertBefore(script, f);window.gigwell = {};gigwell.apiUrl = "https://api.gigwell.com";gigwell.formDisplayMode = "modal";gigwell.agencyId = "157364";gigwell.artistId = "";gigwell.buttonName = "Book Now";gigwell.submitName = "Request Booking";gigwell.headline = "Booking Request";gigwell.hideHeadline = "false";

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-73268046-1', 'auto');
      ga('send', 'pageview');
