!!!
%html{:lang => "en"}
  %head
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", :name => "viewport"}

    %title= current_page.data.title || "Middleman"
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==", :rel => "stylesheet"}
    = stylesheet_link_tag :site

  %body{:class => page_classes}
    %header

    %section
      .container
        = yield

    %footer
      .container
        .row
          .col-sm-6
            %p.tagline ARTIST BOOKING.EVENTS.MANAGEMENT - VANCOUVER, BC

          .col-sm-6
            %ul.links
              %li
                %a{ href: 'https://www.facebook.com/epiksoundagency', target: :blank, title: 'Facebook' }
                  %i.fa.fa-facebook

              %li
                %a{ href: 'https://www.instagram.com/epiksound/', target: :blank, title: 'Instagram' }
                  %i.fa.fa-instagram

              %li
                %a{ mailto: 'felix@epiksound.com', target: :blank, title: 'Email' }
                  %i.fa.fa-envelope

