---
title: Epik Sound | Vancouver, BC
---

%section.row
  .logo.col-sm-6
    = image_tag 'epik-logo-top.jpg'

  .artist.col-sm-6
    %ul.artist-list
      %li
        %a{ href: 'https://soundcloud.com/koosh-koosh', target: :blank }
          Koosh
      %li
        %a{ href: 'https://soundcloud.com/therealdjspun', target: :blank }
          DJ Spun
      %li
        %a{ href: 'https://soundcloud.com/derekdee', target: :blank }
          DJ D.DEE
      %li
        %a{ href: 'Magic Fly: https://soundcloud.com/james-flavour/magicfly-supersuprizedjmix', target: :blank }
          Magic Fly
      %li
        %a{ href: 'https://soundcloud.com/pacificrhythm', target: :blank }
          Pacific Rhythm Label
      %li
        %a{ href: 'https://soundcloud.com/dave-dk', target: :blank }
          Dave DK (on request)
      %li
        %a{ href: 'http://www.residentadvisor.net/dj/themole', target: :blank }
          The Mole (on request)
