---
title: epik agency
---

%section.artists
  %ul.artist-list
    - data.artists.each do |artist|
      %li
        %a.artist-link{ href: artist.link, target: :blank }
          .artist-name
            = artist.name
          .artist-info
            %span.artist-affiliation= artist.affiliation
            %span.artist-location= artist.location && "- #{artist.location}"
            
<script type="text/javascript">
var script = document.createElement('script');var f = document.getElementsByTagName('script')[0];script.async = 1;script.defer = 1;script.src = location.protocol + '//connect.gigwell.com/booknow/widget.js?1521310480886?' + new Date().valueOf();script.id = 'booking-script';script.setAttribute('crossorigin', '*');f.parentNode.insertBefore(script, f);window.gigwell = {};gigwell.apiUrl = "https://api.gigwell.com";gigwell.formDisplayMode = "inline";gigwell.agencyId = "157364";gigwell.artistId = "";gigwell.buttonName = "Book Now";gigwell.submitName = "Request Booking";gigwell.headline = "Booking Request";gigwell.hideHeadline = "false";
gigwell.onInit = function () {
  gigwell.open();
