---
title: epiksound
---

%section.artists
  %ul.artist-list
    - data.artists.each do |artist|
      %li
        %a.artist-link{ href: artist.link, target: :blank }
          .artist-name
            = artist.name
          .artist-info
            %span.artist-affiliation= artist.affiliation
            %span.artist-location= artist.location && "- #{artist.location}"


